* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    display: flexbox;
}

h1 {
    text-align: center;
    padding: 1rem;
    
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    font-size: xx-large;
}

#subsection {
    font-size: larger;
    color: #5f5969;
    margin: 1vw
}

#display {
    font-size: xx-large;
    color:#1a181d,
    margin: 1vw
}